html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.cards-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  flex-basis: 300px;
  border: 1px solid lightslategray;
  background-color: lightgray;
  margin: 20px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 200px;
  justify-content: space-between;
}
.button-wrapper {
  align-self: flex-end;
}

